*{
    margin: 0;
    padding: 0;
}

.botao {
    width: auto;
    height: auto;
    padding: 1%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(37, 2, 46, 0.93);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(195, 0, 244, 0.515);
    font-size: 1.8em;
    font-weight: bolder;
    font-family: 'Amatic SC', cursive;
}

.botao:hover {
    background-color: rgba(255, 255, 255, 0.93);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(195, 0, 244, 0.515);
}

.caixa-perguntas{
    width: 45%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-content: center;
    color: rgba(255, 255, 255, 0.79);
    border-radius: 5px;
}

.caixa-perguntas p{ 
    margin-bottom: 2%;
}

.container{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/projeto-final-modulo-um/assets/bg8.jpg);
    background-color: rgba(233, 245, 177, 0.853);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.container-bem-vindo{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1%;
    padding-bottom: 1%;
    background: rgba(205, 218, 255, 0.407);
    border-radius: 15px;
}

.container-bem-vindo h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
}

.container-bem-vindo p {
    margin: 0 2% 0 2%;
    font-size: 0.9em;
    text-align: start;
    align-self: center;
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    color: rgb(1, 1, 1);
}

.container-bem-vindo-personagem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
}

.container-iniciar-jogo{
    flex-direction: column;

    width: auto;
    height: auto;
}

.container-iniciar-jogo a:hover{
    color: #ffffff;
    background-color: rgb(15, 146, 144);
    border: 1px solid rgb(29, 71, 98, 0.574);
}

.container-principal{
    background-image: linear-gradient(rgb(1, 202, 252), rgb(65, 160, 190), rgb(93, 177, 107));
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-personagens{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: auto;
    height: auto;
}

.container-personagens a{
    text-decoration: none;
    color: black; 
}

.container-personagens a:hover{
    text-decoration: none;    
}   

.comecar {
    background-color: rgba(72, 136, 196, 0.883);
    border: 1px solid rgba(185, 198, 210, 0.883);
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 2%;
}

.comecar-botao {
    width: auto;
    height: auto;
    padding: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(37, 2, 46, 0.93);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(195, 0, 244, 0.515);
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.comecar-botao:hover {
    background-color: rgb(99, 6, 123);
    color: rgb(255, 255, 255);
}

.comecar-botao-personagem{
    width: auto;
    padding: 2%;
    background-color: rgba(37, 2, 46, 0.93);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(195, 0, 244, 0.515);
    font-size: 1em;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
}

.comecar-botao-personagem:hover{
    background-color: rgba(255, 255, 255, 0.93);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(195, 0, 244, 0.515);

}

.comecar-personagem{
    background-color: rgba(160, 167, 174, 0.263);
    border: 1px solid rgba(185, 198, 210, 0.883);
    border-radius: 5px;    
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    padding: 1%;
    margin: 1%;
}

.escolhido a{
    text-decoration: none;
}

.footer{
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 2em;
    display: flex;
    text-align: center;
    align-self: center;
    color:#220202;
}

.footer a{
    text-decoration: none;
    color: blue;
}

.iniciar-jogo{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    font-weight: 900;
    align-self: center;
    background-color: rgb(55, 213, 241);
    border: 1px solid rgba(185, 198, 210);
    color: rgb(27, 3, 3);
    border-radius: 5px;
    padding: 1%;
    text-decoration: none;
    margin: 1% 1%;
    width: 20%;
}

.personagem {
    width: 25%;
    height: auto;
}

.personagem:hover{
    background-color: rgba(167, 248, 214, 0.883);
}

.personagem-escolhido{
    border-radius: 5px;    
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.personagem-escolhido img{
    width: 100%;
    border-radius: 15px;   
}

.titulo{
    font-family: 'Amatic SC', cursive;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 1%;
    font-size: 1.4em;
}

@media (max-width: 768px) {

    .container {
        background-image: url(/projeto-final-modulo-um/assets/park.png);
        background-size: cover;
    }

    .container-bem-vindo{
        width: 100%;
    }

    .container-iniciar-jogo img{
        align-self: center;
        width: 100%;
    }

    .container-principal{
        width: 100%;
        height: 100vh;
    }

    .caixa-perguntas{
        width: 95%;
        height: 100%;
        align-content: center;
    }

    .comecar-personagem{
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .comecar-botao{
        margin-bottom: 2%;
    }

    .container-personagens{
        flex-direction: column; 
    }

    .footer{
        color:#220202;
    }

    .imagem-personagem img {
        width: auto;
        height: auto;
    }

    .personagem-escolhido img {
        width: 98%;
    }

    .iniciar-jogo{
        width: 95%;
    }

    .personagem{
        width: 80%;
        height: 80%;
        margin-bottom: 3%;
        align-self: center;
    }
}
